.profile-user-icon {
    font-size: 100px;
}
.profile-container {
    width: 100%;
}
.card-radius {
    border-radius: 0.350rem;
}
.profile-card {
    border-radius: 12px;
    width: 100%;
    border: none;
}
.card-footer {
    border-top: none;
}
.profile-card-title {
    color: var(--ui-text-primary);
}
.profile-card-text {
    color: var(--ui-text-primary);
}
.profile-card-secondary-text {
    color: var(--ui-text-secondary);
}