.entry-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 200px;*/
    /*width: max-content;*/
    width: 125px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
    user-select: none;
}
.listView .entry-item {
    display: flex;
    flex-direction: row;
    max-width: none;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 6px;
    
}
.listView .entry-item-icon-container {
    height: 30px;
    margin-right: 6px;
}
.listView .fileInfoText {
    margin-left: 4px;
}
.cloud-management-container {
    width: 99%;
    position: relative;
}
.fileEntry {
    font-weight: 400;
}
.folderEntry {
    font-size: 12px;
}
.file-entry-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 75vh;
    align-content: flex-start;
}

.file-entry-list.listView {
    display: flex;
    flex-direction: column;
}

.fileEntry {
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
}
.listView .fileEntry {
    max-width: 100%;
    flex: 1;
}
.listView .folderEntry {
    max-width: 100%;
    flex: 1;

}

.file-system-container {


    width: calc(100% - 10px);
    min-height: 80vh;
    padding: 20px;
    border-radius: 20px;
}
.toolbar-switch-btn {
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 12px;
    background-color: rgb(155, 155, 155);
    color: white;
    cursor: pointer;
}
.toolbar-switch-btn:hover {
    background-color: rgb(10, 103, 254);
}
.toolbar-switch-btn.active {
    background-color: rgb(0, 70, 183);
}
.toolbar-right {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
}
.toolbar-left {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.details-container {
    height: 100%;

    width: calc(100% - 10px);
    min-height: 80vh;
    padding: 20px;
    border-radius: 20px;
}
.details-title {
   width: 100%;
   height: 40px;
   border-radius: 12px;
   font-size: 13px;
   display: flex;
   align-items: center;
   font-weight: bold;
   padding-left: 12px;

}
.select-item-icon {
    font-size: 45px;
}
.select-item-text {
    font-size: 14px;
    font-weight: bold;
}
.cloudManagement-seperator {
    width: 100%;
    height:1px;
    background-color: rgb(234, 234, 234);
    margin: 15px;
}
.file-details-container {
    width: 100%;
    text-align: left;
}
.details-filename {
    font-size: 14px;
    font-weight: 500;
}
.details-contents {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details-contents-file-details-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
}
.details-select-item-message {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.details-icon {
    font-size: 80px;
}
.view-filter-container {
    min-height: 100%;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    margin-left: 20px;
}

.entryIcon {

    font-size: 80px;
    height: 75px;
    line-height: 0px;


}
.listView .entryIcon {
    font-size: 30px;
}
.yellowIcon {
    color: rgb(255, 228, 91);
}

.folder-navigation-item {
    color: rgb(48, 135, 255);
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

.folder-navigation-item.active {
    color: rgb(114, 114, 114);
    cursor: auto;
    text-decoration: none;
}
.folder-navigation {
    flex: 1;
}


.multiple-select-container {
    font-size: 15px;
    padding: 5px 8px;
    border-radius: 0.3rem;
    cursor: pointer;
    height: min-content;
}
.multiple-select-container:hover {
    background-color: var(--entry-item-active-color);
}
.multiple-select-container.active {
    background-color: var(--entry-item-active-color);
}
.folder-navigation-top-items {
    display: flex;
}
.fileInfoText {
    font-size: 12px;
    font-style: italic;
}

.toolbar {
    /*margin-bottom: 10px;
    padding-bottom:5px;
    border-bottom: 1px solid black;*/

    margin-bottom: 10px;
    padding-bottom: 5px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 8px;
    display: flex;

}
.view-types {
    display: flex;
    flex-wrap: nowrap;
    font-size: 13px;
    justify-content: center;
}

.view-type-item:hover {
    background-color: rgb(10, 103, 254);
}
.view-type-item.active {
    background-color: rgb(0, 70, 183);
}
.filter-entries {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}
.filter-options-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 4px;
}
.filter-entry {
    margin-bottom: 15px;
    padding: 6px;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    /*border-left: 3px solid rgb(228, 228, 228);
    border-right: 3px solid rgb(228, 228, 228);*/
    transition: 0.5s;
}
.viewTypeIcon {
    margin-right: 3px;
}
.thumbnail-container {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listView .thumbnail-container {
    height: 30px;
}
.file-details-error-icon {
    font-size: 65px;
    display: block;
    color: red;
}
.file-details-error-message {
    font-size: 14px;
    font-weight: 500;
}
.file-details-loading-container {
    text-align: center;
    padding-top: 45px;
}
.file-details-error-container {
    text-align: center;
    padding-top: 15px;
}

.file-view{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(153, 153, 153);
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 0px 12px 12px 0px;
    justify-content: center;
}
.hierarchical-view {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(153, 153, 153);
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 12px 0px 0px 12px;
    justify-content: center;
}

@media screen and (max-width: 1530px) {
    .view-types {
        flex-direction: column;
    }
    .file-view{

        border-radius: 12px;
    }
    .hierarchical-view {
        border-radius: 12px;
    }
}

.view-filter-view {
    margin-bottom: 10px;
    padding-bottom: 5px;
    /*background: #f7f7f7;*/
    border-radius: 15px;
    width: 100%;
}
.entry-item-icon-container {
    position: relative;
}
.folder-item-opening {
    position: absolute;
    left: 30%;
    top: 35%;
}
.listView .folder-item-opening {
    left: 25%;
    top: 30%;
}
.toolbar-item {
    display: inline-block;
    margin-right: 10px;
    padding: 3px;
    font-size: 14px;
    cursor: pointer;
}

.toolbar-item:hover {
    transform: translate3d(1px, -1px, 1px);
    font-weight: 600;
}

.toolbar-icon {
    font-size: 15px;
}
.file-detail-item-value {
    font-size: 13px;
}
.file-detail-item-label {
    font-size: 13px;
}
.multiple-file-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.multiple-file-details-icon {
    padding: 12px;
    font-size: 60px;
}
.multiple-file-details-selected-folder-text {
    margin-right: 5px;
}
.toolbar-switch-buttons {
    display: flex;
    flex-direction: row;
    margin: 5px 12px;
}
.toolbar-switch-buttons .toolbar-switch-btn {
    border-radius: 0px;
}
.toolbar-switch-buttons .toolbar-switch-btn:nth-child(1) {
    border-radius: 12px 0px 0px 12px;
}
.toolbar-switch-buttons .toolbar-switch-btn:nth-last-child(1) {
    border-radius: 0px 12px 12px 0px;
}
.search-bar {
    display: flex;
    flex-direction: row;
}
.search-input {
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
    font-size: 14px;
    padding-left: 10px;
    width: 80px;
    transition: 1s;
}
.search-input:focus {
    width: 150px;
    transition: 1s;
}
.search-result-empty-icon {
    font-size: 35px;
}
.search-result-empty-message {
    font-size: 20px;
    font-weight: 600;
}
.search-result-empty-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.search-btn-container {
    background-color: rgb(155, 155, 155);
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 6px;
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn-container:hover {
    background-color: rgb(10, 103, 254);
    cursor: pointer;
}
